:root {
    --bg-color: #eff1f5;
    --fg-color: #4c4f69;
    --accent-bg-color: #4C4F69;
    --accent-fg-color: #D3E0E8;
    --red: #d20f39;
    --light-red: #dd7878;
    --primary-container: #DBE0E8;
    --secondary-container: #CCD0DA;
    --link-color: #A092F3;


}