/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* import color palette */
@import url(palette.css);

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;;
}

.link {
    color: var(--link-color);
}

.navbar {
    background-color: var(--navbar-color);
    box-shadow: 0 2px 2px -2px rgba(220,224,232,.2);
    display: flex;
    justify-content: space-between;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.no-style {
    text-decoration: none;
    color: inherit !important;
}

.navigation-button {
    background-color: var(--secondary-container);
    height: auto;
    min-width: 20px;
    border-radius: 50%;
    margin: 4px;
    text-align: center;
    vertical-align: center;
    padding: 5px;
}

.button {
    /* colors and style */
    background-color: var(--button-color);
    color: var(--accent-fg-color);
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s, border cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    border: 1px solid var(--transparent);
    border-radius: 8px;
    box-shadow: none;
    text-decoration: none;
    /* positioning and size */
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 16px;
    padding: 16px 32px;
}

.icon-button {
    /* colors and style */
    background-color: var(--button-color);
    border-radius: 50px;
    padding: 16px;
}

.button:hover {
    background-color: var(--button-overlay);
    border: 1px solid var(--border-color);
}
.accent-button {
    background-color: var(--accent-bg-color);
    color: var(--accent-fg-color);
}

.accent-button:hover {
    background-color: var(--secondary-container);
    color: var(--accent-bg-color);
    border: 1px solid var(--accent-bg-color);
}

.destructive-button {
    background-color: var(--error-outline);
    color: var(--accent-fg-color);
}

.destructive-button:hover {
    background-color: var(--secondary-container);
    color: var(--error-outline);
    border: 1px solid var(--error-outline);

}


h1, h2, h3, h4, h5, h6 {
    font-family: roboto;
    font-weight: 500;
}

p {
    font-family: raleway;
}


.checkbox {
    accent-color: var(--accent-bg-color);
    width: 20px;
}

.input-label {
    font-size: 20px;
    color: var(--fg-color);
    text-align: left;
    padding-bottom: 2px;
    font-family: roboto;
}

.input {
    font-size: 24px;
    border: none;
    text-align: start;
    border-radius: 3px;
    box-shadow: 0 0 2px black;
    margin-bottom: 3px;
    border: 1px solid var(--transparent);
}

.input:focus {
    outline: none !important;
    border:1px solid var(--accent-bg-color);
    box-shadow: 0 0 2px var(--accent-bg-color);
}