@import url(palette.css);

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

a:link {
    color: var(--link-color);
}

.outer-form {
    /* Properties to get vertical center align*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accent-button {
    /* colors and style */
    background-color: var(--accent-bg-color);
    color: var(--accent-fg-color);
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    border: none;
    border-radius: 10%;
    text-decoration: none;
    /* positioning and size */
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    padding: 16px 32px;
}

.accent-button:hover {
    background-color: var(--secondary-container);
    color: var(--accent-bg-color);
}

/* login form properties */

.login-form {
    /* colors and style */
    background-color: var(--primary-container);
    border-radius: 10px;
    /* positioning */
    width: 420px;
    padding: 15px;
    margin: auto;
    /*content alignment*/
    justify-content: center;
    text-align: center;
}

.login-label {
    font-size: 20px;
    color: var(--fg-color);
    text-align: left;
    padding-bottom: 2px;
}

.login-input {
    font-size: 24px;
    border: none;
    text-align: start;
    border-radius: 3px;
    box-shadow: 0 0 2px black;
    margin-bottom: 3px;
}

.login-input:focus {
    outline: none !important;
    border:1px solid var(--accent-bg-color);
    box-shadow: 0 0 2px var(--accent-bg-color);
}

.extra-text {
    text-align: center;
}