<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Create album</title>
        <link rel="stylesheet" href="css/createalbum.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <!-- Navbar -->
        <div class="navbar">
            <!-- Section on left - create album button-->
            <a href="home.html" th:href="home">
                <button class="icon-button button">
                    <img src="icons/home.svg" title="Go to home" alt="Home"/>
                </button>
            </a>
            <!-- Section on right, username and logout button-->
            <div style="display: flex;">
                <h1 th:text="${user.username}">Oingo</h1>
                <a href="logout" style="margin-right: 3px; margin-left: 10px;">
                    <button class="button destructive-button">Log out</button>
                </a>
            </div>
        </div>

        <div class="create-album-form">
            <div class="error-container" th:if="${error}">
                <p th:text="${errorMessage}">The passwords are not equal</p>
            </div>
            <h1>Upload a new photo</h1>
            <!-- Upload form-->
            <p>Choose the photo and the title and then click upload</p>
            <form action="createAlbum" method="post" enctype="multipart/form-data">
                <!-- Image title-->
                <label class="input-label">Image title</label>
                <br />
                <input type="text" class="input" name="image-title"/>
                
                <!-- Image upload -->
                <div style="display: flex; justify-content: center;">
                    <input type="file" id="image-upload" name="image" accept="image/*" hidden required/>
                    <label for="image-upload" class="icon-button button">
                            <img src="icons/upload.svg" title="Upload image" alt="Upload"/>
                    </label>
                    <input type="submit" style="margin-left: 5px" class="button accent-button" value="Upload" />
                </div>
            </form>
            <!-- Create album form -->
            <h1>Create a new album</h1>
            <form method="post" action="createAlbum">
                <!-- Album title input -->
                <label class="input-label">Album title</label>
                <br />
                <input class="input" type="text" name="album-title" required/>
                <br />
                
                <h2>Album photos</h2>
                <div class="photos-list" th:remove="all-but-first">
                    <!-- Photo list -->
                    <div class="photo-check" th:object="${photo}" th:each="photo : ${userPhotos}">
                        <input th:id="*{id}" th:name="*{id}" type="checkbox" name="checkbox" class="checkbox">
                        <a th:href="@{/image(imgId=${photo.id})}" href="image.html">
                            <img th:src="'images/' + ${photo.filePath}" src="img/test.jpg" class="checkbox-image" />
                        </a>
                    </div>
                    <!-- Demo image -->
                    <div class="photo-check">
                        <input type="checkbox" name="checkbox" class="checkbox">
                        <img src="img/test-portrait.jpg" class="checkbox-image" />
                    </div>
                </div>
                <br />
                <input type="submit" class="button accent-button" value="Create" />
            </form>
        </div>
    </body>

</html>