<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${image.title}">Image</title>
        <link rel="stylesheet" href="css/imagepage.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <!-- Navbar -->
        <div class="navbar">
            <!-- Section on left - home button, back button button-->
            <div>
            <a href="createAlbum.html" th:href="back">
                <button class="icon-button button">
                    <img src="icons/back.svg" title="Create album" alt="Album"/>
                </button>
            </a>
            <a href="home.html" th:href="home">
                <button class="icon-button button">
                    <img src="icons/home.svg" title="Back to album page" alt="Home"/>
                </button>
            </a>
        </div>
            <!-- Section on right, username and logout button-->
            <div style="display: flex;">
                <h1 th:text="${user.username}">Oingo</h1>
                <a href="/logout" style="margin-right: 3px; margin-left: 10px;">
                    <button class="button destructive-button">Log out</button>
                </a>
            </div>
        </div>

        <div class="image-page">
            <h1 th:text="${image.title}" style="margin-bottom: 0px">Image title</h1>
            <p style="margin-top: 2px;" th:text="Created by ${image.author.title} on ${image.upload_date}">Created by Pietro on 19/02/1991</p>
            <img th:src=${image.path} src="img/test.jpg" width="100%">
            <div class="comments">
                <h2>Comments</h2>
                <div class="comment">
                    <p class="comment-author">Oingo</p>
                    <p class="comment-text">Fichissimo sto signore!</p>
                </div>

                <div class="comment">
                    <p class="comment-author">Oingo</p>
                    <p class="comment-text">Fichissimo sto signore!</p>
                </div>
                <div class="comment">
                    <p class="comment-author">Oingo</p>
                    <p class="comment-text">Fichissimo sto signore!</p>
                </div>
                <div class="comment">
                    <p class="comment-author">Oingo</p>
                    <p class="comment-text">Fichissimo sto signore!</p>
                </div>

                <!--Input form-->
                <br />
                <form aciton="addComment" action="post">
                    <label class="input-label">Add comment</label>
                    <input type="text" class="input" />
                    <input type="submit" class="button accent-button" />
                </form>
            </div>
        </div>

        
    </body>

</html>