<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${image.title}">Image</title>
<link rel="stylesheet" href="css/imagepage.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<!-- Navbar -->
	<div class="navbar">
		<!-- Section on left - home button, back button button-->
		<div>
			<!-- If the album is null, go back to create album-->
			<a href="create_album.html" th:href="createAlbum"
				th:if="${album == null}">
				<button class="icon-button button">
					<img src="icons/back.svg" title="Create album" alt="Album" />
				</button>
			</a>
			<!-- If the album is not null, go to the album page-->
			<a href="album.html" th:href="@{album(albumId=${album.id})}"
				th:if="${album != null}">
				<button class="icon-button button">
					<img src="icons/back.svg" title="Album page" alt="Album" />
				</button>
			</a> <a href="home.html" th:href="home">
				<button class="icon-button button">
					<img src="icons/home.svg" title="Back to home page" alt="Home" />
				</button>
			</a>
		</div>
		<!-- Section on right, username and logout button-->
		<div style="display: flex;">
			<h1 th:text="${user.username}">Oingo</h1>
			<a href="logout" style="margin-right: 3px; margin-left: 10px;">
				<button class="button destructive-button">Log out</button>
			</a>
		</div>
	</div>
	<div class="error-container" th:if="${error}">
		<p th:text="${errorMessage}">The passwords are not equal</p>
	</div>

	<div class="image-page" th:object="${image}">
		<h1 th:text="*{title}" style="margin-bottom: 0px">Image title</h1>
		<p style="margin-top: 2px;"
			th:text="'Uploaded by ' + ${author.username} + ' on ' + *{uploadDate}">Created
			by Pietro on 19/02/1991</p>
		<img th:src="'images/' + *{filePath}" src="img/test.jpg">
		<div class="comments">
			<h2>Comments</h2>
			<div th:remove="all-but-first">
				<div class="comment" th:each="comment : ${comments}"
					th:object="${comment}">
					<p class="comment-author"
						th:text="${commentsMap[__comment__].username}">Oingo</p>
					<p class="comment-text" th:text="*{content}">Fichissimo sto
						signore!</p>
				</div>

				<div class="comment">
					<p class="comment-author">Oingo</p>
					<p class="comment-text">Fichissimo sto signore!</p>
				</div>
				<div class="comment">
					<p class="comment-author">Oingo</p>
					<p class="comment-text">Fichissimo sto signore!</p>
				</div>
				<div class="comment">
					<p class="comment-author">Oingo</p>
					<p class="comment-text">Fichissimo sto signore!</p>
				</div>
			</div>
			<!--Input form-->
			<br />
			<form action="addComment" method="post">
				<label class="input-label">Add comment</label> <input type="text"
					name="text" class="input" /> <input type="hidden" name="imgId"
					th:value="${image.id}" /> <input th:if="${album != null}"
					type="hidden" name="albumId" th:value="${album.id}" /> <input
					type="submit" class="button accent-button" value="Send" />
			</form>
		</div>
	</div>


</body>

</html>