<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registation</title>
        <link rel="stylesheet" href="css/login.css" />
    </head>
    <body>
        <div class="outer-form">
            <div>
                <div class="error-container" th:if="${error}">
                    <p th:text="${errorMessage}">The passwords do not correspond</p>
                </div>
                <div class="login-form">
                    <h1>Register</h1>
                    <form method="post" action="/register">
                        <label class="login-label">Username</label>
                        <br />
                        <input class="login-input" type="text" name="username" />
                        <br />
                        <label class="login-label">E-mail</label>
                        <br />
                        <input class="login-input" type="email" name="email" />
                        <br />
                        <label class="login-label">Password</label>
                        <br />
                        <input class="login-input" type="password" name="password" />
                        <br />
                        <label class="login-label">Repeat password</label>
                        <br />
                        <input class="login-input" type="password" name="repeat-password">
                        <br />
                        <input type="submit" class="accent-button" value="Register" />
                    </form>
                </div>
                <p class="extra-text"> Already have an account? <a href="login.html">Login</a></p>
            </div>
        </div>
    </body>
</html>