<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TIW - Sign up</title>
        
        <link rel="stylesheet" href="css/sign.css" />
        <!-- Set a viewport to make the design responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="outer-form">
            <div style="padding: 3px;">
                <div class="error-container" th:if="${error}">
                    <p th:text="${errorMessage}">The passwords are not equal</p>
                </div>
                <div class="sign-form">
                    <h1>Sign up</h1>
                    <form method="post" action="signup">
                        <label class="sign-label">Username</label>
                        <br />
                        <input class="sign-input" type="text" name="username" />
                        <br />
                        <label class="sign-label">E-mail</label>
                        <br />
                        <input class="sign-input" type="email" name="email" />
                        <br />
                        <label class="sign-label">Password</label>
                        <br />
                        <input class="sign-input" type="password" name="password" />
                        <br />
                        <label class="sign-label">Repeat password</label>
                        <br />
                        <input class="sign-input" type="password" name="repeat-password">
                        <br />
                        <input type="submit" class="accent-button" value="signup" />
                    </form>
                </div>
                <p class="extra-text"> Already have an account? <a href="signin">signin</a></p>
            </div>
        </div>
    </body>
</html>