<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TIW - Sign in</title>
        
        <link rel="stylesheet" href="css/sign.css" />
        <!-- Set a viewport to make the design responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="outer-form">
            <div>
                <div class="error-container" th:if="${error}">
                    <p th:text="${errorMessage}">Wrong username/email or password</p>
                </div>
                <div class="sign-form">
                    <h1>Sign in</h1>
                    <form method="post" action="signin">
                        <label class="sign-label">E-mail / Username</label>
                        <br />
                        <input class="sign-input" type="text" name="email-username" />
                        <br />
                        <label class="sign-label">Password</label>
                        <br />
                        <input class="sign-input" type="password" name="password" />
                        <br />
                        <input type="submit" class="accent-button" value="Sign in" />
                    </form>
                </div>
                <p class="extra-text"> Don't have an account? <a href="signup">Register</a></p>
            </div>
        </div>
    </body>
</html>